<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipca.scoutsbag">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoutsBag"
        android:usesCleartextTraffic="true">
        <activity android:name=".colonyManagement.EditScoutProfileActivity"></activity>
        <activity
            android:name=".loginAndRegister.RecoverPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inventoryManagement.CreateMaterialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inventoryManagement.InventoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colonyManagement.ActivityReplyRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colonyManagement.ActivityUserRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityManagement.ActivityHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityManagement.InviteDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndRegister.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndRegister.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndRegister.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".catalogManagement.AddCatalog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".catalogManagement.AddInstruction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".catalogManagement.SeeInstructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".catalogManagement.ActivityEditCatalog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".catalogManagement.EditInstruction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colonyManagement.ColonyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colonyManagement.AddTeam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colonyManagement.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colonyManagement.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityManagement.ActivityDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityManagement.EditActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityManagement.CreateActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".loginAndRegister.LogInOrRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>